* text=auto !eol
deploy/acooly-module-coder-1.1.0.jar -text
deploy/application.properties -text
deploy/libs/acooly-core-2.0.0.jar -text
deploy/libs/commons-cli-1.2.jar -text
deploy/libs/commons-configuration-1.9.jar -text
deploy/libs/commons-dbcp-1.4.jar -text
deploy/libs/commons-io-2.4.jar -text
deploy/libs/commons-lang-2.6.jar -text
deploy/libs/commons-lang3-3.1.jar -text
deploy/libs/commons-logging-1.1.1.jar -text
deploy/libs/commons-pool-1.5.4.jar -text
deploy/libs/freemarker-2.3.14.jar -text
deploy/libs/guava-13.0.1.jar -text
deploy/libs/log4j-1.2.17.jar -text
deploy/libs/log4jdbc-remix-0.2.7.jar -text
deploy/libs/mysql-connector-java-5.1.21.jar -text
deploy/libs/slf4j-api-1.7.2.jar -text
deploy/libs/slf4j-log4j12-1.7.2.jar -text
deploy/libs/spring-asm-3.1.2.RELEASE.jar -text
deploy/libs/spring-beans-3.1.2.RELEASE.jar -text
deploy/libs/spring-context-3.1.2.RELEASE.jar -text
deploy/libs/spring-context-support-3.1.2.RELEASE.jar -text
deploy/libs/spring-core-3.1.2.RELEASE.jar -text
deploy/libs/spring-expression-3.1.2.RELEASE.jar -text
deploy/libs/spring-jdbc-3.1.2.RELEASE.jar -text
deploy/libs/spring-tx-3.1.2.RELEASE.jar -text
deploy/libs/swt-3.5.2-x86_64.jar -text
deploy/log4j.properties -text
deploy/start-ui64.bat -text
deploy/start.bat -text
/package.bat -text
/pom.xml -text
src/main/java/com/acooly/module/coder/Generate.java -text
src/main/java/com/acooly/module/coder/db/Database.java -text
src/main/java/com/acooly/module/coder/db/TableLoaderDialectFactory.java -text
src/main/java/com/acooly/module/coder/db/TableLoaderService.java -text
src/main/java/com/acooly/module/coder/db/dialect/MSSQLTableLoaderDialect.java -text
src/main/java/com/acooly/module/coder/db/dialect/MySQLTableLoaderDialect.java -text
src/main/java/com/acooly/module/coder/db/dialect/OracleTableLoaderDialect.java -text
src/main/java/com/acooly/module/coder/db/dialect/PostgresTableLoaderDialect.java -text
src/main/java/com/acooly/module/coder/domain/Table.java -text
src/main/java/com/acooly/module/coder/domain/TableColumn.java -text
src/main/java/com/acooly/module/coder/generate/CodeGeneratorFactory.java -text
src/main/java/com/acooly/module/coder/generate/GenerateConfiguration.java -text
src/main/java/com/acooly/module/coder/generate/GenerateContext.java -text
src/main/java/com/acooly/module/coder/generate/impl/DefaultCodeGeneratorFactory.java -text
src/main/java/com/acooly/module/coder/module/FreeMarkerModuleGenerator.java -text
src/main/java/com/acooly/module/coder/module/ModuleGenerator.java -text
src/main/java/com/acooly/module/coder/module/impl/DaoTestModuleGenerator.java -text
src/main/java/com/acooly/module/coder/module/impl/DomainModuleGenerator.java -text
src/main/java/com/acooly/module/coder/module/impl/JpaDaoModuleGenerator.java -text
src/main/java/com/acooly/module/coder/module/impl/ManagerControllerModuleGenerator.java -text
src/main/java/com/acooly/module/coder/module/impl/PagesModuleGenerator.java -text
src/main/java/com/acooly/module/coder/module/impl/ServiceImplModuleGenerator.java -text
src/main/java/com/acooly/module/coder/module/impl/ServiceInterfaceModuleGenerator.java -text
src/main/java/com/acooly/module/coder/resolver/EntityIdDeclareResolver.java -text
src/main/java/com/acooly/module/coder/resolver/NameScheme.java -text
src/main/java/com/acooly/module/coder/resolver/NameSchemeResolver.java -text
src/main/java/com/acooly/module/coder/resolver/impl/AcoolyNameSchemeResolver.java -text
src/main/java/com/acooly/module/coder/resolver/impl/DefaultEntityIdDeclareResolver.java -text
src/main/java/com/acooly/module/coder/support/DatetimeMethod.java -text
src/main/java/com/acooly/module/coder/ui/AcoolyCodeGeneratorGui.java -text
src/main/java/com/acooly/module/coder/ui/ConfigFileHelper.java -text
src/main/java/com/acooly/module/coder/ui/Generator.java -text
src/main/resources/application.mysql.properties -text
src/main/resources/application.oracle.properties -text
src/main/resources/application.properties -text
src/main/resources/log4j.properties -text
src/main/resources/spring/applicationContext-coder.xml -text
src/main/resources/spring/applicationContext-database.xml -text
src/main/resources/spring/applicationContext-main.xml -text
src/main/resources/template/easyui/controller.ftl -text
src/main/resources/template/easyui/dao.ftl -text
src/main/resources/template/easyui/daoTest.ftl -text
src/main/resources/template/easyui/domain.ftl -text
src/main/resources/template/easyui/editPage.ftl -text
src/main/resources/template/easyui/importPage.ftl -text
src/main/resources/template/easyui/listPage.ftl -text
src/main/resources/template/easyui/service.ftl -text
src/main/resources/template/easyui/serviceImpl.ftl -text
src/main/resources/template/easyui/showPage.ftl -text
src/main/resources/template/extreme/JpaDao.ftl -text
src/main/resources/template/extreme/controller.ftl -text
src/main/resources/template/extreme/dao.ftl -text
src/main/resources/template/extreme/daoTest.ftl -text
src/main/resources/template/extreme/domain.ftl -text
src/main/resources/template/extreme/editPage.ftl -text
src/main/resources/template/extreme/listPage.ftl -text
src/main/resources/template/extreme/listPage_old.ftl -text
src/main/resources/template/extreme/service.ftl -text
src/main/resources/template/extreme/serviceImpl.ftl -text
src/test/java/com/acooly/module/coder/test/CodeGeneratorMain.java -text
